body{
  background: #EDEBAB;
  padding-top: 146px;
}
.box-shadow{
  box-shadow: 0 2px 4px 0px rgb(0,0,0,.05),
              0 4px 8px 0px rgb(0,0,0,.05);
}
.borda-amarela{
  border-top: 15px solid #D6D039;
  border-bottom: 15px solid #D6D039;
  z-index: 100;
}
.cor-barra-navegacao{
  background-color: #554E4C;
  z-index: 100;
}
.cor-link-navegacao{
  color: #FFFFFF !important;
}
.cor-botao-pesquisar{
  background-color: #E5E4CF;
}
.fundo-patinhas{
  background-image: url("../img/cabecalho-patas.jpg");
  height: 60px;
}
.imagem-logo-circulo{
  background-color: #EDEBAB;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0px rgb(0,0,0,.05),
              0 4px 8px 0px rgb(0,0,0,.05);
}
.contraste-img-carrosel{
  filter: contrast(2);
  filter: brightness(0.4);
}
.cor-coracao-adoteme{
  color: #ba0001;
}
@media(max-width: 767px){
  #barra-de-navegacao{
    position: relative;
  }
  body{
    padding-top: 0;
  }
  #carrosel-pets .carousel-caption h1{
    font-size: 1.5rem;
  }
  #imagem-logo-mobile{
    margin: 0 0 0 65%;
    position: absolute !important;
    overflow: hidden;
  }
}
.cor-footer{
  background-color: #554E4C;
}
.cor-links{
  color: #D6D039;
}
.texto-carrosel-centro{
  position: relative;
  transform: translateY(-18.5rem);
  margin: auto;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}