.box-shadow{
  box-shadow: 0 2px 4px 0px rgb(0,0,0,.05),
              0 4px 8px 0px rgb(0,0,0,.05);
}
.borda-amarela{
  border-top: 15px solid #D6D039;
  border-bottom: 15px solid #D6D039;
}
.cor-barra-navegacao{
  background-color: #554E4C;
}
.cor-link-navegacao{
  color: #FFFFFF !important;
}
.cor-botao-pesquisar{
  background-color: #E5E4CF;
}
.fundo-patinhas{
  background-image: url("../img/patinhas.jpg");
  background-size: 2px;
}
.imagem-logo-circulo{
  background-color: #EDEBAB;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0px rgb(0,0,0,.05),
              0 4px 8px 0px rgb(0,0,0,.05);
}